<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu currículo ficticio de desenvolvedor</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1, h2 {
            margin: 0;
        }
        .contato{
            margin-bottom: 10px;
        }
        .dados{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>Alysson Carlos de Castro Cordeiro</h1>
        <p class="contato">Telefone: 98 9 xxxx-xxxx</p>
        <p class="contato">Endereço: Share Student Living, Bairro Butantã, São Paulo - SP</p>
        <p class="contato">E-mail: alysson.cordeiro@example.com</p>
        <p class="contato">LinkedIn: linkedin.com/in/alyssoncordeiro</p>
        <p class="contato">GitHub: github.com/alyssoncordeiro</p>
    </header>

    <section>
        <h2>Resumo</h2>
        <p>Desenvolvedor apaixonado por tecnologia com experiência em desenvolvimento web e interesse em criar soluções inovadoras. Possuo habilidades em desenvolvimento front-end e back-end, utilizando tecnologias como HTML, CSS, JavaScript, Python e frameworks como Flask e React. Sou autodidata, comprometido e sempre em busca de aprimorar minhas habilidades e aprender novas tecnologias.</p>
    </section>

    <section>
        <h2>Experiência de Trabalho</h2>
        <p><span class="dados">Desenvolvedor Web</span> - Empresa XYZ - Janeiro 2021 - Presente</p>
        <p>Desenvolvimento e manutenção de aplicações web utilizando HTML, CSS e JavaScript. Colaboração em projetos de equipe, implementação de funcionalidades e resolução de problemas técnicos.</p>
    </section>

    <section>
        <h2>Educação</h2>
        <p><span class="dados">Bacharel em Ciência da Computação</span> - Inteli - 2020</p>
    </section>

    <section>
        <h2>Habilidades</h2>
        <ul>
            <li>Desenvolvimento Web: HTML, CSS, JavaScript</li>
            <li>Frameworks: Flask, React</li>
            <li>Linguagens de Programação: Python, Java</li>
            <li>Controle de Versão: Git</li>
            <li>Banco de Dados: SQL</li>
            <li>Comunicação Efetiva e Trabalho em Equipe</li>
        </ul>
    </section>
</body>
</html>
